body {
  background-image: url(../img/woodfired.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

h1 {
  padding: 60px;
  color: red;
  font-style: bolder;
  font-family: "Pizza";
  font-size: 100px;
  text-align: center;
  background-color: black;
  border-radius: 20px;
}

h2 , label , li {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
@font-face {
  font-family: "Pizza";
  src: url(fonts/pepperoni_pizza.ttf);
  format: ("truetype");
}

.col-lg-4 {
  float: left;
}

img {
  display: none;
  width: 0px;
  cursor: pointer; cursor: hand;
}

#price {
  display: none;
  text-decoration: underline;
}

ul {
  background-color: black;
  border-radius: 10px;
}

button {
  background-color: green;
  color: white;
}
